@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playpen+Sans:wght@100..800&display=swap');
/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3eee1;
    display: block;
}
h1 {
    font-size: 2.5em;
    color: #967D74;
    text-align: center;
    margin: 20px 0;
    font-family: Michroma, sans-serif;
    font-weight: 700;
}
h2 {
  margin: 0;
  font-family: Michroma, sans-serif;
  font-weight: 600;
  color: #967D74;
  text-align: center;
}
p {
    font-size: 1.2em;
    color: #082136;
    text-align: center;
    margin: 10px 0 20px 0;
}
/* Header styles */
header {
    background-color: #f3eee1;
    padding: 20px 40px;
    display: flex;
    padding-top: 0.5em;
    justify-content: space-between;
    align-items: center;
    font-family: Michroma, sans-serif;
    border-bottom: 1px solid #08445e;
    & :hover {
      color: #967D74;
      text-decoration: underline;
    }
}
#logo{
  width: 65px;
  height: auto;
  justify-items: right;
  justify-content: right;
  justify-self: right;
  padding-top: 5px;
  animation-duration: 7s;
  animation-name: logo-grow;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes logo-grow {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.1);}
  100% {transform: scale(1);}
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #08445e;
    font-size: 1.2em;
}
/* Main content styles */
#quoteSection {
    margin: 20px 0;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}
.cards{
    background-color: #08445e;
    border: 5px solid #082136;
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    box-shadow: 5px 10px 18px #d4cfc5;
    transition: transform .5s;
    display: grid;
    justify-content: center;
    text-align: center;
    justify-items: center;
    &:hover{
        transform: scale(1.05);
    }
    & p{
        font-size: 1em;
        color: #f3eee1;
        text-align: center;
        margin: 10px 0 20px 0;
    }
    & button{
        background-color: #967D74;
        color: white;
        border: none;
        margin-bottom: 5px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        &:hover{
            background-color: #f3eee1;
            color: #082136;
            border: 1px solid #082136;
        }
    }
}
.card-img{
    border: 10px solid #082136;
    width: 100%;
    transition: transform .5s;
    border-radius: 10px;
    display: inline-block;
}
#location {
    margin: 20px 20px;
    padding: 20px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
    & button{
        background-color: #967D74;
        color: white;
        margin: 35px 0;
        border: none;
        padding: 20px 30px;
        border-radius: 5px;
        font-size: 2em;
        cursor: pointer;
        animation: pulse 2s infinite;
        &:hover{
            background-color: #f3eee1;
            color: #082136;
            border: 1px solid #082136;
        }
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(150, 125, 116, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(150, 125, 116, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(150, 125, 116, 0);
    }
}
/* Slideshow styles */
.mySlides {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease-in-out;
}
.slideshowContainer .mySlides.active {
  opacity: 1;
}
.mySlides img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.slideshowContainer {
  max-width: 1000%;
  position: relative;
  margin: auto;
  overflow: hidden;
  aspect-ratio: 16 / 9; /* Maintain 16:9 aspect ratio */
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  padding: 16px;
  margin-top: -22px;
  color: #08445e;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  user-select: none;
  z-index: 1;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover, .next:hover {
  background-color: #967D74;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #967D74;
  text-shadow: #3B4422 3px 3px 3px;
  font-size: 2.5em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Michroma, sans-serif;
}
.numberText {
  color: #967D74;
  text-shadow: #08445e 1px 1px;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dotContainer {
  text-align: center;
  margin-top: 8px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #082136;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  & :hover {
    background-color: #08445e;
  }
}
.dot.active {
  background-color: #967D74;
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* Form styles */
form {
    background-color: #f3eee1;
    border: 5px solid #082136;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    margin: 0 auto 50px auto;
    box-shadow: 5px 10px 18px #d4cfc5;
    display: grid;
    gap: 25px;
    & button{
        background-color: #967D74;
        color: white;
        border: none;
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        &:hover{
            background-color: #f3eee1;
            color: #082136;
            border: 1px solid #082136;
        }
    }
    & input{
        padding: 10px;
        margin: 2px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1em;
        & input:focus::placeholder {
            color: white;
        }
        & input:invalid {
            border-color: red;
            &::placeholder {
                color: red;
            }
        }
    }
    & textarea{
        padding: 10px;
        margin: 2px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1em;
        resize: vertical;
    }
    & fieldset{
        border: 2px solid #082136;
        border-radius: 10px;
        padding: 10px;
        & legend{
            font-size: 1.2em;
            font-weight: bold;
            color: #082136;
            padding: 0 10px;
        }
        & label{
            display: block;
            margin: 10px 0;
        }
    }
}
label {
  font-size: 18px;
  color: #082136;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;

}
.print button {
        background-color: #967D74;
        color: white;
        border: none;
        margin-bottom: 5px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        &:hover{
            background-color: #f3eee1;
            color: #082136;
            border: 1px solid #082136;
        }
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Print styles */
@media print {
  body { background: #fff; }
  form { display:none; }
  .print-card { border:none; }
}

@media screen and (max-width: 32rem) {
  #quoteSection {
    flex-direction: column;
    margin: 10px, 10px;
    padding: 10px;
  }
  .cards {
    width: 85%;
    margin-bottom: 20px;
    margin: 10px 10px;
  }
  form {
    width: 90%;
    margin: 0 auto 30px auto;
    padding: 15px;
    gap: 15px;
  }
}